<!DOCTYPE html>
<html><body style="
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
<!--    background-color: #f3f4f6;-->
">

    <div style="
        max-width: 1000px;
        padding: 0 30px;
    ">


<div style="
    display: flex;
    align-items: center;
    gap: 250px;
    margin-bottom: 50px;
    margin-top: 40px;
">

    <img src="/static/LOGO2.png"
         alt="University of Bristol Logo"
         style="height: 80px; width: auto;
            margin-left: -10px;">


    <img src="/static/LOGO.png"
         alt="University of Bristol Logo"
         style="height: 60px; width: auto;margin-left: 50px;">



</div>



<p style="text-align: center;">
    <b>Thank you for your participation!</b>
</p>

<p style="text-align: center;">
    <b>Your response has been successfully recorded.</b>
</p>

<a href="/">
    <div style="text-align: center; margin-top: 30px;">
    <button type="button" style="
        font-size: 20px;
        font-family: inherit;
        padding: 15px 45px;
        width: 200px;" >
        <b>Return to survey </b> </button>
    </div>
</a>

<br>

<div style="
    display: flex;
    align-items: center;
    margin-top: 20px;
">

    <img src="/static/person1.png"
         alt="Person 1"
         style="
             height: 100px;
             width: auto;
             margin-left: 0px;
         ">

    <img src="/static/person2.png"
         alt="Person 2"
         style="
             height: 100px;
             width: auto;
             margin-left: 10px;
         ">

    <img src="/static/person3.jpg"
         alt="Person 3"
         style="
             height: 100px;
             width: auto;
             margin-left: 10px;
         ">

    <div style="
        margin-left: 30px;
        font-size: 18px;
    ">
        <div><b>Contact us:</b></div>
        <div style="font-style: italic;" >nikolai.bode@bristol.ac.uk@bristol.ac.uk<br>
             ryan.palmer@bristol.ac.uk<br>
             taotao0612.jin@bristol.ac.uk
        </div>
    </div>

</div>

<br><br>


</div>
</body>
</html>